<% provide(:title, "All users") %>
<h1>All users</h1>

<%= will_paginate %>

<ul class="users">
  <% if @users %>
  <% @users.each do |user| %>
    <%= render user %>
  <% end %>
  <% end %>
</ul>

<%= will_paginate %>